Source: notifyosdconfig
Section: x11
Priority: optional
Maintainer: Amandeep Grewal <me@amandeep.ca>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev (>= 4:4.8), clang-3.4 | clang-3.3 | clang-3.2
Standards-Version: 3.9.4
Homepage: https://code.launchpad.net/~amandeepgrewal/notifyconf/trunk

Package: notifyosdconfig
Architecture: any
Depends: ${misc:Depends}, notify-osd
Description: tool to configure Ubuntu's notify-osd notification system
 Customize the appearance and behaviour of Notify OSD, from an easy GUI.
